#card-directive {
	width: 13em;
	
    box-shadow: 10px 10px 10px #888888;
    margin: 0 auto;
    padding-left: 0.5em;
	padding-right: 0.5em;
	font-family: 'Indie Flower', cursive;
	font-size: 2em;
	border: none;
	display: block;
	margin: 0 auto;
	resize: none;
	overflow: auto;

}

.spinner {
	-webkit-transform: translate(0px, -16em);
	margin-bottom: -8em;
}

.spinner-image {
	height: 4em;
	width: 4em;
}

.spinner-text {

}

.background-editor-container {
	outline: none;
	width: 2em;
	height: 20em;
	float: left;
	-webkit-transform: translate(25em, 3em);
	box-shadow: 5px 5px 5px #888888;
	background-color: whitesmoke;
	padding-bottom: 0.5em;
	overflow: auto;
}

.background-editor-container::-webkit-scrollbar {
    width: 0px;
}

.color-pick-button {
	outline: none;
	height: 1.3em;
	width: 80%;
	margin: 0 auto;
	margin-top: 0.5em;
}

.higlighted {
	box-shadow: 2px 2px 2px #888888;
}
