<div style="width: 100%;">
	<div class="container">
		<div class="card-and-edit-contianer">
			<!-- <div class="background-editor-container">
				<div ng-repeat="color in colors" ng-click="setActiveColor(color)" ng-class="{higlighted: color.active}" class="color-pick-button" style="background-color:{{color.color}}"></div>
			</div> -->
			<!-- <div class="font-size-editor-container">
				<div ng-repeat="font in fonts" ng-click="setActiveFontSize(font)" ng-class="{higlighted: font.active}" class="font-pick-button" style="background-color:{{card.backgroundColor}}; font-size:{{font.displaySize}}">{{font.name}}</div>
			</div> -->
			<div class="background-editor-container">
				<div ng-repeat="gif in backgroundGifs" ng-click="setActiveGif(gif)" ng-class="{higlighted: gif.active}" class="font-pick-button" style="background:url({{gif.url}}); background-size:contain; font-size:{{font.displaySize}}">{{font.name}}</div>
			</div>
			
			<div class="font-color-editor-container">
				<div ng-repeat="fontColor in fontColors" ng-click="setActiveFontColor(fontColor)" ng-class="{higlighted: fontColor.active}" class="font-pick-button" style="background-color:{{fontColor.color}};"></div>
			</div>
			
			<div ng-click="removeDefault()" style="position: relative; left: 50px;" >
		      <pre id="card-text-area-pre" style="white-space: pre-wrap; word-wrap: break-word; font-size: {{card.fontSize}}" ng-bind="card.message+'\n'"></pre>
		      <textarea id="card-text-area" autofocus="autofocus" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url({{card.cardBackgroundImage}}); color: {{card.fontColor}}; background-size:contain; font-size: {{card.fontSize}}" ng-model="card.message" ng-trim="false"></textarea>
		    </div>
		</div>
		</div>
		<div ng-show="showSpinner" class="text-center spinner">
			<img  class="spinner-image" alt="loading" src="https://i.stack.imgur.com/MnyxU.gif"/>
			<span class="spinner-message">Sending Fuzzy</span>
			<img  class="spinner-image" alt="loading" src="https://i.stack.imgur.com/MnyxU.gif"/>
			<span class="spinner-message">Sending Fuzzy</span>
			<img class="spinner-image" alt="loading" src="https://i.stack.imgur.com/MnyxU.gif"/>
		</div>
	</div>

