.card-and-edit-contianer {
	display: block;
	width: 30em;
	min-height: 577px;
	margin: 0 auto;
	overflow: visible;
	-webkit-transform: translate(-50px);
}

#card-text-area {
	-webkit-transform: translate(-455px, -280px);
	box-shadow: 10px 10px 10px #888888;
	border: none;
	font-size: 2em;
	font-family: 'Indie Flower', cursive;
	resize: none;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 1em;
	z-index: -10;
}

#card-text-area::-webkit-scrollbar {
    width: 0px;
}

#card-text-area-pre {
	-webkit-transform: translate(200em, -17.2em);
	background-color: red;
	border: 1px solid black;
	font-size: 2em;
	font-family: 'Indie Flower', cursive;
	opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
    padding-left: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 1.5em;
}

.spinner {
	-webkit-transform: translate(150px, -360px);
	margin-bottom: -8em;
}

.spinner-image {
	height: 4em;
	width: 4em;
}

.spinner-text {

}

.background-editor-container {
	outline: none;
	width: 2em;
	height: 20em;
	display: inline-block;
	-webkit-transform: translate(0em, 3em);
	margin-right: 1em;
	box-shadow: 5px 5px 5px #888888;
	background-color: whitesmoke;
	padding-bottom: 0.5em;
	overflow: auto;
}

.background-editor-container::-webkit-scrollbar {
    width: 0px;
}

.color-pick-button {
	outline: none;
	height: 1.3em;
	width: 80%;
	margin: 0 auto;
	margin-top: 0.5em;
}

.higlighted {
	box-shadow: 2px 2px 2px #888888;
}
