<div style="width: 100%">
<div class="card-and-edit-contianer">
	<div class="background-editor-container">
		<div ng-repeat="color in colors" ng-click="setActiveColor(color)" ng-class="{higlighted: color.active}" class="color-pick-button" style="background-color:{{color.color}}"></div>
	</div>
	<textarea autofocus="autofocus" elastic  id="card-directive" style="background-color:{{card.backgroundColor}}" ng-value="card.message" ng-model="card.message"></textarea>
</div>
<div>


<div ng-show="showSpinner" class="text-center spinner">
<img class="spinner-image" alt="loading" src="http://i.stack.imgur.com/MnyxU.gif"/>
<h3 class="spinner-message"> Sending your Fuzzy </h3>
</div>