.card-and-edit-contianer {
	display: block;
	width: 30em;
	min-height: 300px;
	margin: 0 auto;
	overflow: visible;
	-webkit-transform: translate(-50px, 70px);
	margin-bottom: 5em;  /*this moves the whole page down*/
}

#card-text-area {
	-webkit-transform: translate(0px, 0px);
	box-shadow: 10px 10px 10px #888888;
	border: none;
	font-size: 2em;
	font-family: 'Indie Flower', cursive;
	resize: none;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 1em;
	/*background: url("http://4.bp.blogspot.com/-fYJrkNWec08/T9EYOmNGPNI/AAAAAAAAC04/UtdRRM8a3hc/s640/cat-fat-dancing-cat-gif.gif");*/
}

#card-text-area::-webkit-scrollbar {
    width: 0px;
}

#card-text-area-pre {
	-webkit-transform: translate(0em, 0em);
	background-color: red;
	border: 1px solid black;
	font-size: 2em;
	font-family: 'Indie Flower', cursive;
	opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
    padding-left: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 1.5em;
	margin-top: -325px;
	min-height: 374px;
}

.spinner {
	-webkit-transform: translate(0px, px);
	margin-bottom: -3em;
}

.spinner-image {
	height: 3em;
	width: 3em;
}

.spinner-message {
	font-size: 1.5em;
	font-weight: bold;
}

.background-editor-container {
	outline: none;
	height: 15em;
	width: 2em;
	display: inline-block;
	-webkit-transform: translate(0em, 0em);
	box-shadow: 5px 5px 5px #888888;
	background-color: whitesmoke;
	padding-bottom: 0.5em;
	overflow: auto;

}

.font-size-editor-container {
	width: 2em;
	height: auto;
	-webkit-transform: translate(0em, -0.5em);
	box-shadow: 5px 5px 5px #888888;
	background-color: whitesmoke;
	overflow: auto;
	padding-bottom: 0.5em;
}

.font-size-editor-container::-webkit-scrollbar {
    width: 0px;
}

.background-editor-container::-webkit-scrollbar {
    width: 0px;
}

.color-pick-button {
	outline: none;
	height: 1.3em;
	width: 80%;
	margin: 0 auto;
	margin-top: 0.5em;
	font-weight: bolder;
}

.font-pick-button {
	height: 19px;
	line-height: 19px;
	width: 80%;
	margin: 0 auto;
	margin-top: 5px;
	text-align: center;
	border: 1px solid balck;
	
}

.higlighted {
	box-shadow: 2px 2px 2px #888888;
}


@media only screen and (min-width: 0px) and (max-width: 679px) {
.font-size-editor-container {
	margin-left: 22px;
}
.background-editor-container {
	margin-left: 22px;
}
.card-and-edit-contianer {
	width: 100%;
	margin-left: 7px;
}

.spinner {
	-webkit-transform: translate(0px, px);
	margin-bottom: -3em;
}

.spinner-image {
	height: 3em;
	width: 3em;
}

.spinner-message {
	font-size: 1em;
	font-weight: bold;
}

}




