.email-input {
	width: 20em;
	font-size: 2.5em;
	font-family: 'Nunito', sans-serif;
	border:1px solid #888888;
	border-top-left-radius: 3px !important;
	border-bottom-left-radius: 3px !important;	
	padding-left:1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem; 
	box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.26);
	touch-action: pan-y;
}

.send-fuzzy-button {
	font-size: 2.5em;
	font-family: 'Nunito', sans-serif;
	text-transform: none !important;
	margin-left: -0.15em !important;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}