.email-input {
	width: 20em;
	font-size: 2.5em;
	font-family: 'Nunito', sans-serif;
	border: none;
	padding-left:0.3em;
	padding-right: 2em;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem; 
	box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.26);
	margin:0;
}

input:focus::-webkit-input-placeholder 
{
    color: transparent;
}


.send-fuzzy-button {
	width:20em;
	font-size: 2.5em;
	font-family: 'Nunito', sans-serif;
	text-transform: none !important;
	border-radius: 0 !important;
	color: black !important;
	background-color: pink !important;
}

#from-to-wrapper {
	margin-top: -3em;
}

#from-label {
	-webkit-transform: translate(-326px, -80px);
}

#to-label {
	-webkit-transform: translate(-334px, -40px);
}



@media only screen and (min-width: 0px) and (max-width: 679px) {

.email-input {
	width: 90%;
	font-size: 1.5em;
}

.send-fuzzy-button { 
	width: 90%;
}



}


@media only screen and (min-width: 0px) and (max-width: 390px) {

.email-input {
	width: 90%;
	font-size: 1.2em;
}

.send-fuzzy-button { 
	width: 90%;
	font-size: 1.5em;
}



}


