<div class="text-center">
		 <input ng-value="card.senderEmail" ng-model="card.senderEmail" class="email-input" placeholder="Your email!"><input ng-value="card.email" ng-model="card.email" class="email-input" placeholder="Their email or phone number!"><div ng-show="showFromTo" id="from-to-wrapper"><div id="from-label">From:</div><div id="to-label">To:</div></div><md-button style="background-color: {{card.backgroundColor}} !important;" ng-click="sendFuzzy()"class="md-primary md-raised send-fuzzy-button">Send Fuzzy</md-button>
</div>
