.how-it-works-thumbnail {
	outline: 1px solid black;
	box-shadow: 10px 10px 10px #888888;
}

.how-it-works-title {
	line-height: 2em;
	text-align: center !important;
	margin: 0 auto;
	background: black;
	color: white;
	font-family: 'Lobster', cursive;
	font-size: 4em;
}

.how-it-works-text {
	padding-left: 0.5em;
	padding-bottom: 1em;
	font-family: 'Nunito', sans-serif;
}
