<div class="row text-center">
  <div class="col-md-4">
      <div class="how-it-works-thumbnail">
          <h1 class="how-it-works-title">1.Create</h1>
          <div style="height:1em;"></div>
          <p class ="how-it-works-text text-left lead">Making a Fuzzy is just like making a paper card. Play with the Fuzzy above to make it your own!</p>
      </div>    
  </div>
  <div class="col-md-4">
    <div class="how-it-works-thumbnail">
          <h1 class="how-it-works-title">2.Send</h1>
          <div style="height:1em;"></div>
          <p class ="how-it-works-text text-left lead">Send your Fuzzy to whoever you like. It will show up in their email within seconds.</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="how-it-works-thumbnail">
          <h1 class="how-it-works-title">3.Repeat</h1>
          <div style="height:1em;"></div>
          <p class ="how-it-works-text text-left lead">Make and send more Fuzzies! They are great for everything from good jobs to get wells.</p>
    </div>
  </div>
</div>